<h1>{{ book.title }}</h1>
<h2>{{ book.author }}</h2>
<h3>{{ book.start_date }}~{{ book.end_date }}</h3>

{% for memory in book.memory.all %}
    <li>
        {{ memory.text }}
    </li>
    
    <button onclick = "location.href = '{% url  'MyApp:updatememory' memory.id %}'">編集</button>
    <button onclick = "location.href = '{% url  'MyApp:deletememory' memory.id %}'">削除</button>
    <br>

    <a href="{% url 'MyApp:writingmemory' book.id%}">Write memory of this book data</a><br>
    <a href="{% url 'MyApp:deletebook' book.id %}">Delete this book data</a><br>
    <a href="{% url 'MyApp:index' %}">To Index</a><br>
{% endfor %}